node_modules
**/node_modules
dist
.env
.DS_Store
coverage
*.log
*.tsbuildinfo
uploads
.local-pgdata
.playwright-cli
.dart_tool
**/.dart_tool
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache
**/build
ios/Pods
**/.next
